h1, h3 {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-family: sans-serif;
	
}

body {
	width: 800px;
	height: 600px;
}
canvas {
  border: 10px solid #ccc;
	background: url('outerspace.jpg');
}

h1 {
	text-align: center;
}

h3 {
	font-size: 30px;
	
}